<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
        }
        .lift, .right{
            display: flex;
            box-sizing: border-box;
            padding: 40px;
        }
        .lift{
            flex: 0.8;
        }
        .right{
            flex: 0.2;
        }
        a{
            color: white;
            font-size: 25px;
        }
        details{
            margin-right: 40px;           
        }
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-right: 40px;
            font-size: 18px;
        }
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-right: 40px;
            font-size: 12px;
        }
        ul{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
        }
        .list_pop{
            font-size: 10px;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}
    
    {% block content  %}
    <p>زمان ورود شما به سایت</p>  {{ moment(time).format('LLL') }}
        <form action="/" method="get, post" novalidate>
            <div class="container">
                <div class="right">
                    <div>
                        <ul>
                            <p style="font-size: 18px;">لیست برترین خواننده ها</p>
                            <br>
                            <li>حمید هیراد</li>
                            <li>یاس</li>
                            <li>محسن چاوشی</li>
                            <li>محسن یگانه</li>
                            <li>معین</li>
                            <li>شادمهر</li>
                            <li>بهنام بانی</li>
                            <li>گرشا رضایی</li>
                            <li>آرش</li>
                            <li>مسیح</li>
                            <li>میثم ابراهیمی</li>
                            <li>امیر تتلو</li>
                            <li>رضا صادقی</li>
                            <li>امید</li>
                            <li>فرزاد فرزین</li>
                            <li>امیر محرمی</li>
                            <li>مسعود صادقلو</li>
                            <li>رضا پیشرو</li>
    
                        </ul>
                    </div>
                </div>
                <div class="lift">
                    <br>
                    <div style="width: 100%; justify-content: center;text-align: center;">
                        <h1>آهنگ غم گرفته همه کوچه های ما رو</h1>
                        <p>آهنگ از امیر تتلو</p>
                        <audio controls>
                            <source src="../static/mosic/Gham_Gerefte_Hame_Koochehaye_Maro.mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Gham_Gerefte_Hame_Koochehaye_Maro.mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ غم گرفته همه کوچه های ما رو</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                        <br>
                        <hr>
                        <br>
                        <h1>آهنگ قطب شمال </h1>
                        <p>آهنگ از فرزاد فرزین</p>
                        <audio controls>
                            <source src="../static/mosic/Farzad Farzin - Ghotbe Shomal.mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Farzad Farzin - Ghotbe Shomal.mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ قظب شمال</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                        <br>
                        <hr>
                        <br>
                        <h1>آهنگ آمین </h1>
                        <p>آهنگ از یاس و آمین</p>
                        <audio controls>
                            <source src="../static/mosic/Yas - Amen 128.mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Yas - Amen 128.mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ آمین</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                        <br>
                        <hr>
                        <br>
                        <h1>آهنگ شاه بیت </h1>
                        <p>آهنگ از آرش و مسیح</p>
                        <audio controls>
                            <source src="../static/mosic/Masih & Arash AP – Shah Beyt (128).mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Masih & Arash AP – Shah Beyt (128).mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ شاه بیت</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                        <br>
                        <hr>
                        <br>
                        <h1>آهنگ رنگ خدا</h1>
                        <p>آهنگ از آرش و مسیح</p>
                        <audio controls>
                            <source src="../static/mosic/Masih & Arash AP - Range Khoda.mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Masih & Arash AP - Range Khoda.mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ رنگ خدا</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                        <br>
                        <hr>
                        <br>
                        <h1>آهنگ خواب خوش</h1>
                        <p>آهنگ از شادمهر عقیلی</p>
                        <audio controls>
                            <source src="../static/mosic/Shadmehr Aghili - Khaabe Khosh [320].mp3">
                        </audio>
                        <a style="color: black; font-size: 20px;" href="../static/mosic/Shadmehr Aghili - Khaabe Khosh [320].mp3" download="">دانلود</a>
                        <details>
                            <summary>متن آهنگ خواب خوش</summary>
                            <p>یک یک دو دو هشت
                                آه
                                بعضی وقت ها بارونه که میشوره
                                خورشید وامیسته تماشا میکنه
                                ماه میشینه تشویق میکنه
                                رعد و برق * خودش رو بیخود پاره میکنه
                                اما گفتم که این بارونه که میشوره
                                </p>
                        </details>
                    </div>
                    </div>
                </div>
            </div>
        </form href="/">
    {% endblock %}
</body>
</html>