<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(187, 191, 234);
        }
        div{
            width: 100%;
            height: 100%;
            text-align: center;
        }
        h1{
            font-size: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 22%;
        }
        button{
            width: 20%;
            height:50%;
            border-radius: 10px;
            background-color: red;
            color: wheat;
        }
    </style>
</head>
<body>
    <form action="/home">
        <div>
            <h1>welcome to web</h1>
            <button type="submit" href="/home">HOME</button>
        </div>
    </form>
</body>
</html>